<div>
  <p>
    <button (click)="randomCity()" class="btn-random"><span class="icon">(</span> Random City</button>
  </p>

  <section id="colour" [class]="dataCurrent.weather[0].icon | card">
    <div class=" top">
      <span class="icon big">{{ dataCurrent.weather[0].icon | icon }}</span>
      <p class="temp-now">{{ dataCurrent.main.temp | celsius}}<span>&nbsp;&deg;C</span></p>
      <p class="weather-now">{{ dataCurrent.weather[0].description }}</p>
      <p class="highlow">&#x25B2; {{ dataCurrent.main.temp_max | celsius}}&nbsp;&deg;C / &#x25BC;
        {{ dataCurrent.main.temp_min | celsius}}&nbsp;&deg;C</p>
    </div>

    <div class="location-panel">
      <form class="search" (submit)="search()">
        <span class="country">{{dataCurrent.sys.country}},</span>
        <input [(ngModel)]="city" name='searchBox' class="location" type="text" (click)='handelClick()'
          (blur)='handelBlur()' />
      </form>
      <span class="or">or</span>
      <button (click)="getCoords()" class="btn-locate">Locate Me</button>
    </div>

    <div class="bottom">
      <div class="left">
        <span class="icon">F</span>
        <p>Wind speed: <span class="info">{{ dataCurrent.wind.speed }} m/s</span></p>
        <p>Humidity: <span class="info">{{ dataCurrent.main.humidity }}%</span></p>
      </div>
      <div class="right">
        <span class="icon">A</span>
        <p>Sunrise: <span class="info">{{ dataCurrent.sys.sunrise * 1000 | date : 'shortTime' }}</span></p>
        <p>Sunset: <span class="info">{{ dataCurrent.sys.sunset * 1000 | date : 'shortTime' }}</span></p>
      </div>
    </div>
  </section>

  <!-- Extra info when using Locate Me button -->
  <section class="card pull-down">
    <p>Coordinates: [{{ dataCurrent.coord.lat }}, {{ dataCurrent.coord.lon }}]</p>
    <img class="img" [src]="locationUri" width="480" height="200" />
  </section>
</div>
